a {
    text-decoration: none;
}

body {
    background-color: rgb(230, 230, 230);
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    margin: 0 !important;
}

h2 {
    font-size: 2.5em;
    font-weight: bolder;
    margin: 0 !important;
}

h3 {
    font-size: 2em;
    font-weight: bolder;
    margin: 0 !important;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 !important;
}

nav {
    background-color: white;
}

@media (min-width: 767px) {
    .nav-item {
        font-size: 20px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 767px) {
    .nav-item {
        text-align: center;
        font-size: 20px;
    }
}

main {
    background-color: white;
    margin: 2%;
}

main .list-film .title {
    border-bottom: solid rgba(230, 230, 230, 1) 1px;
    padding: 10px 10%;
    color: #04ab5e;
}

main .manage .options {
    border-bottom: solid rgba(230, 230, 230, 1) 1px;
    padding: 10px 10%;
    color: #04ab5e;
    display: flex;
    justify-content: space-around;
}

main .manage .options .active h2 {
    color: blue;
}

.list-film .list-item {
    margin: 30px 4%;
    text-align: center;
}

.list-film .list-item .content {
    text-align: initial;
}

.list-film article span {
    font-style: italic;
}

.form-item {
    padding: 15px 3%;
}

form .button-container {
    display: flex;
    justify-content: space-around;
}

main .manage {
    padding-bottom: 20px;
}

main .manage .list {
    padding: 20px 0;
}

main .manage .list .item {
    padding: 10px 5%;
}

main .manage.category .item .btn-container {
    display: flex;
    justify-content: space-around;
    color: inherit !important;
}

main .manage.realisator .list .item {
    padding: 10px 5%;
}

main .manage.realisator .list form .field {
    padding: 0 10px;
}
main .manage.realisator .add {
    padding: 10px 5%;
}

main .manage.realisator .field {
    padding: 20px 10px;
}

@media handheld, only screen and (min-width: 767px) {
    main .manage.realisator .list form a, main .manage.realisator .list form button {
        float: right;
    }
}

footer {
    height: 100px;
    width: 100%;
    background-color: white;
}

